# Load dataframe

In [2]:
import pandas as pd
df = pd.read_csv("../data/raw/bank_reviews_raw.csv")

# Drop rows with missing values

In [3]:
df = df.dropna()

# Remove Duplicates

In [4]:
df = df.drop_duplicates()

# Normalize the Dates

In [5]:
df['date'] = pd.to_datetime(df['date']).dt.strftime('%Y-%m-%d')

# Save as CSV with columns: review, rating, date, bank, source

In [6]:
columns = ["review", "rating", "date", "bank", "source"]
df = df[columns]

# Save to CSV

In [7]:
df.to_csv("../data/processed/bank_reviews_cleaned.csv")

# Check

In [ ]:
df.head()

,review,rating,date,bank,source
1343,Best,5,2025-01-13,Dashen,Google Play
1344,"Waw Great and innovated,user friendly, always ...",5,2025-01-13,Dashen,Google Play
1345,It's Best waww üôè,5,2025-01-13,Dashen,Google Play
1346,Always one step ahead,5,2025-01-13,Dashen,Google Play
1347,"Like Me, I Hope It Works Better Than Before.",5,2025-01-11,Dashen,Google Play